
<div>
    <div class="left main">
        <div class="leftHPic main">

        </div>
        <div class="leftHAppName main">
            Flash Verge
        </div>
        <div class="leftDP main">
            <img class="img1" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTJJjceD7Xn1-ZIEoxBUHl1f0lFXIi6daOmQ&usqp=CAU'
                height='125' width='125'>
        </div>
        <div class="leftName main">
            &nbsp;&nbsp;&nbsp;{{curName}}
        </div>
        <div class="leftName main fsmall">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@{{curId}}
        </div>
        <div class="leftStats main">
            <div class="main fp leftName">
                {{postCount}}<br>
                <span class="fsmall">Posts</span>
            </div>
            <div class="main fp brd leftName">
                {{followingCount}}<br>
                <span class="fsmall">Followers</span>
            </div>
            <div class="main fp leftName">
                {{followerCount}}<br>
                <span class="fsmall">Following</span>
            </div>
        </div>
        <div class="leftFunc">
            <div class="main op leftName fs2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16" style="color:white">
                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                  </svg>
                  <i class="bi bi-grid"></i>                   
                  Feed
            </div>
            <div class="main op leftName fs3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16" style=" color: white;">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            <i class="bi bi-person-circle"></i>
                  View
            </div>
            <div class="main op leftName fs4">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" style="color:white">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
                  <i class="bi bi-pencil-fill"></i>
                  Edit 
            </div>
        </div>
        <div class="leftExit">
            <div class="main op leftName fs5">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16" style="color:white">
                    <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                  </svg>
                  <i class="bi bi-door-open-fill"></i>
                  Log Out
            </div>

        </div>
    </div>
    <div class="right main">
        <div class="right-top-pane main">
            <div class="search-bar main">
                <input type="text" class="search-ip" placeholder="Search" />      
            </div>
            <div class="space-r1 main">

            </div>
            <div class="add-post main">
                <button class="search-btn" value="Search">
                    <span class="add-post-txt">

                    </span>

                </button>

            </div>
        </div>
        <div class="main rempty1">

        </div>
        <div class="main blank3">

        </div>
        <div class="main feeds">
            <section class="newsfeed">
                <div class="card">
                  <div class="picture"></div>
                  <div class="content">
                    <div class="header">
                      <div class="profile-pic"></div>
                      <div class="detail">
                        <p class="name">Miranda</p>
                        <p class="posted">2 hours ago</p>
                      </div>
                    </div>
                    <div class="desc">
                      "Actually, the best gift you could have given her was a lifetime or adventures" Alice in Wonderland- I've
                      always loved this quote. what's your favourite quote?
                    </div>
                    <div class="tags">
                      <span>#party</span>
                      <span>#colorful</span>
                    </div>
                    <div class="footer">
                      <div class="like">
                        <i class="fas fa-heart"></i>
                        <span>12k</span>
                      </div>
                      <div class="comment">
                        <i class="fas fa-comment"></i>
                        <span>12k</span>
                      </div>
                      <div class="share">
                        <i class="fas fa-share"></i>
                        <span>12k</span>
                      </div>
                    </div>
                  </div>
                </div>

            
                <div *ngFor="let val of post" class="card">
                  <div class="picture" style="background-image: url('{{val.contentIMG}}');"></div>
                  <div class="content">
                    <div class="header">
                      <div class="profile-pic"></div>
                      <div class="detail">
                        <p class="name">Miranda</p>
                        <p class="posted">2 hours ago</p>
                      </div>
                    </div>
                    <div class="desc">
                      {{val.caption}}
                      
                    </div>
                    <div class="tags">
                      <span>#party</span>
                      <span>#colorful</span>
                    </div>
                    <div class="footer">
                      <div class="like">
                        <i class="fas fa-heart"></i>
                        <span>12k</span>
                      </div>
                      <div class="comment">
                        <i class="fas fa-comment"></i>
                        <span>12k</span>
                      </div>
                      <div class="share">
                        <i class="fas fa-share"></i>
                        <span>12k</span>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="card">
                  <div class="picture"></div>
                  <div class="content">
                    <div class="header">
                      <div class="profile-pic"></div>
                      <div class="detail">
                        <p class="name">Miranda</p>
                        <p class="posted">2 hours ago</p>
                      </div>
                    </div>
                    <div class="desc">
                      "Actually, the best gift you could have given her was a lifetime or adventures" Alice in Wonderland- I've
                      always loved this quote. what's your favourite quote?
                    </div>
                    <div class="tags">
                      <span>#party</span>
                      <span>#colorful</span>
                    </div>
                    <div class="footer">
                      <div class="like">
                        <i class="fas fa-heart"></i>
                        <span>12k</span>
                      </div>
                      <div class="comment">
                        <i class="fas fa-comment"></i>
                        <span>12k</span>
                      </div>
                      <div class="share">
                        <i class="fas fa-share"></i>
                        <span>12k</span>
                      </div>
                    </div>
                  </div>
                </div>
            
              </section>
            
              
              <div class="space"></div>
            

        </div>

    </div>
</div>
