
<div>
    <div class="left main">
        <div class="leftHPic main">

        </div>
        <div class="leftHAppName main">
            Flash Verge
        </div>
        <div class="leftDP main">
            <img class="img1" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTJJjceD7Xn1-ZIEoxBUHl1f0lFXIi6daOmQ&usqp=CAU'
                height='125' width='125'>
        </div>
        <div class="leftName main">
            &nbsp;&nbsp;&nbsp;{{curName}}
        </div>
        <div class="leftName main fsmall">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@{{curId}}
        </div>
        <div class="leftStats main">
            <div class="main fp leftName">
                {{postCount}}<br>
                <span class="fsmall">Posts</span>
            </div>
            <div class="main fp brd leftName">
                {{followingCount}}<br>
                <span class="fsmall">Followers</span>
            </div>
            <div class="main fp leftName">
                {{followerCount}}<br>
                <span class="fsmall">Following</span>
            </div>
        </div>
        <div class="leftFunc">
            <div class="main blank1">               
                       
            </div>
            <div class="main fs1">   
                <a (click)="logOut()">           
                <i class="bi bi-grid"></i>                   
                Feed</a>    
            </div>
            <div class="main fs2"> 
                <a (click)="view()">
                <i class="bi bi-person-circle"></i>
                View</a>
            </div>
            <div class="main fs3"> 
                <a (click)="edit()">
                <i class="bi bi-pencil-fill"></i>
                Edit</a>
            </div>
            <div class="main fs4">
                <a (click)="logOut()">          
                <i class="bi bi-door-open-fill"></i>
                Logout</a> 
            </div>
        </div>    
       
    </div>
    <div class="right main">
        <div class="right-top-pane main">
            <div class="search-bar main">
                <input type="text" class="search-ip" list="browsers" name="browser" placeholder="Search" id="browser"/> 
                <datalist id="browsers">
                  <option *ngFor="let c of userList;" [value]="c.name" >{{c.name}}</option>
                </datalist> 
                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:'15px';" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>  
               </div>
            <div class="space-r1 main"> 

            </div>
            <div class="add-post main">
                <button class="search-btn"  (click)="addPhoto();" value="Search">
                    <span class="add-post-txt">
                      <i class="bi bi-plus-circle"></i> &nbsp; &nbsp;Add Photo
                    </span>
                </button>

            </div>
        </div>
        <div class="main rempty1">

        </div>
        <div class="main blank3">

        </div>
        <div class="main feeds">
            <section class="newsfeed">
                <div class="card">
                  <div class="picture"></div>
                  <div class="content">
                    <div class="header">
                      <div class="profile-pic"></div>
                      <div class="detail">
                        <p class="name">Miranda</p>
                        <p class="posted">2 hours ago</p>
                      </div>
                    </div>
                    <div class="desc">
                      "Actually, the best gift you could have given her was a lifetime or adventures" Alice in Wonderland- I've
                      always loved this quote. what's your favourite quote?
                    </div>
                    <div class="tags">
                      <span>#party</span>
                      <span>#colorful</span>
                    </div>
                    <div class="footer">
                      <div class="like">
                        <i class="bi bi-heart-fill"></i>
                        <span>12k</span>
                      </div>
                      <div class="comment">
                        <i class="bi bi-chat-fill"></i>
                        <span>12k</span>
                      </div>
                     
                    </div>
                  </div>
                </div>

            
                <div *ngFor="let val of post" class="card">
                  <div class="picture" style="background-image: url('{{val.contentIMG}}');"></div>
                  <div class="content">
                    <div class="header">
                      <div class="profile-pic"></div>
                      <div class="detail">
                        <p class="name">Miranda</p>
                        <p class="posted">2 hours ago</p>
                      </div>
                    </div>
                    <div class="desc">
                      {{val.caption}}
                      
                    </div>
                    <div class="tags">
                      <span>#party</span>
                      <span>#colorful</span>
                    </div>
                    <div class="footer">
                      <div class="like">
                        <i class="bi bi-heart-fill"></i>
                        <span>12k</span>
                      </div>
                      <div class="comment">
                        <i class="bi bi-chat-fill"></i>
                        <span>12k</span>
                      </div>
                      
                    </div>
                  </div>
                </div>
            
                <div class="card">
                  <div class="picture"></div>
                  <div class="content">
                    <div class="header">
                      <div class="profile-pic"></div>
                      <div class="detail">
                        <p class="name">Miranda</p>
                        <p class="posted">2 hours ago</p>
                      </div>
                    </div>
                    <div class="desc">
                      "Actually, the best gift you could have given her was a lifetime or adventures" Alice in Wonderland- I've
                      always loved this quote. what's your favourite quote?
                    </div>
                    <div class="tags">
                      <span>#party</span>
                      <span>#colorful</span>
                    </div>
                    <div class="footer">
                      <div class="like">
                        <i class="fas fa-heart"></i>
                        <span>12k</span>
                      </div>
                      <div class="comment">
                        <i class="fas fa-comment"></i>
                        <span>12k</span>
                      </div>
                      <div class="share">
                        <i class="fas fa-share"></i>
                        <span>12k</span>
                      </div>
                    </div>
                  </div>
                </div>
            
              </section>
            
              
              <div class="space"></div>
            

        </div>

    </div>
</div>
