<div class="main feeds">
    <section class="newsfeed">
        <header>

            <div class="container">

                <div class="profile" Style="margin-top: -20px;">

                    <div class="profile-image">

                        <img src="{{img}}"  alt="" style="width: 225px; height: 225px;">
                          
                            

                    </div>
                    

                    <div class="profile-user-settings">

                        <h1 class="profile-user-name"> {{userId}}</h1>
                        <button *ngIf="followStatus"  (click)="unFollowMethod()" routerLinkActive="active" class="btn profile-edit-btn" style="width: auto;font-size:25px;margin-left: 45px;margin-right: 75px;">Following &nbsp;<i
                            class="bi bi-person-check-fill"></i></button>
                            <button *ngIf="!followStatus"  (click)="followMethod()"routerLinkActive="active" class="btn profile-edit-btn" style="width: auto;font-size:25px;margin-left: 45px;    margin-right: 93px;">Follow &nbsp;<i
                                class="bi bi-person-check-fill"></i></button>   
                    </div>
                    <div class="profile-stats">
                        <ul>
                            <li><span class="profile-stat-count">{{postCount}}</span> posts</li>
                            <li><span class="profile-stat-count">{{followerCount}}</span> followers</li>
                            <li><span class="profile-stat-count">{{followingCount}}</span> following </li>
                        </ul>

                    </div>

                    <div class="profile-bio">
                      
                        <p><span class="profile-real-name" style="color:yellow;margin-right:15px">{{curName}}  </span>
                           
                            {{bio}}</p>

                    </div>

                </div>
                <!-- End of profile section -->

            </div>
            <!-- End of container -->

        </header>

        <main>

            <div class="container">
                
                <div class="gallery">
                    <span *ngIf="flag"  style="text-align:center;font-size:40px;color: red;">-----------No posts yet-----------</span>
                    
                    <div *ngFor="let val of feedPost1" class="gallery-item" tabindex="0">

                        <img src="{{val.contentIMG}}" (click)="fun(val.comment,val.contentIMG,val.caption);" id="myImg"  class="gallery-image"
                            alt="nil" style="margin-bottom: 15px;">
                            <br>
                        <span (click)="like(val.postId);" >Likes&nbsp;&nbsp;:&nbsp;&nbsp;
                        <i id="lykd" class="bi bi-heart-fill">&nbsp;&nbsp;&nbsp;&nbsp;{{val.comment}}</i>
                        </span>



                                <!-- <div class="like" (click)="like(val.postId);">
                                    <i id="{{val.postId}}" class="bi bi-heart-fill"></i>
                                    <span *ngIf="flag1">{{val.comment}}</span>
                                    <span *ngIf="!flag1">{{ con(val.comment)}}</span>
                                  </div> -->

                        <!-- <div  class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                        class="bi bi-heart-fill"></i> 56</li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                        class="bi bi-chat-fill"></i> 2</li>
                            </ul>
                        </div>  -->

                    </div>
                    

                </div>
                <!-- End of gallery -->

            </div>
            <!-- End of container -->

        </main>

    </section>
</div>

<div class="space"></div>


<div id="myModal" class="modal">
    <span (click)="fun2();" class="close">&times;</span>
    <img class="modal-content" id="img01">
    <button  style="background: none; color: tomato; font-size: 50px; padding: 30px;margin-left: -280px;"><i class="bi bi-heart-fill">{{value1}}</i></button>
    <div  style="background: none; color: tomato; font-size: 30px; " id="caption">{{value2}}</div>
</div>